doctype html
html
  head
    script var time = {start: Date.now(), passed: function(moment){return function(){return Date.now()-time.start>moment}}};
    title= title
  body(style='margin: 0px; ')
    script(src='/scripts/preload.js')
